.Container {
  height: 90vh;
  width: 80vw;
  margin: 100px 100px;
  border: 3px solid silver;
  background-color: rgb(193, 225, 230);
}

.firstBox {
  display: flex;
  margin: 40px;
}

.picture {
  width: 350px;
  height: 250px;
  border-radius: 40%;
  margin-right: 6rem;
}

.links {
  display: flex;
  margin-top: 70px;
}
.links img {
  width: 100px;
  height: 100px;
  margin-right: 30px;
  border-radius: 10px;
}

.spans {
  display: grid;
  margin-left: 3rem;
  margin-top: 100px;
}

.spans span {
  margin-top: 15px;
}
